<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
   <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>

  <table class="table table-bordered">   
    <h2>Section 3 – Identify and Assess Risks: Third Party Access</h2>
    <thead>
        <tr>
            <th>Name of Third Party Organization</th>
            <th>PII or Firm Sensitive Data Transmitted to Third Party Organization </th>
            <th>Risk Severity Level</th>
            <th>Is it Necessary for the Third Party Organization to Access the Data Transmitted (Y/N)</th>
            <th>Have you Assessed the Third Party Organization to Ensure that it has Effective Security Practices (Y/N)</th>
            <th>Are there Controls in Place to Isolate this Third Party Connection from your Critical Assets (Y/N)</th>
            <th>Remediate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>        
        <tr>
    		<td colspan="7">
    			Third-party Risk Management:  Do you transmit PII or firm sensitive information to a third party, or otherwise allow access to your PII or firms sensitive information by a third party?  (e.g., your vendors, clearing firm, customers, etc.)?
    			<ul>			
    			<li>Name of third party – Corporate or individual’s name.</li>
    			<li>PII or firm sensitive information transmitted – You can list data at a group level such as Customer Account Information, or at the granular level such as social security number, customer name, date of birth etc.</li>
    			<li>Risk severity level – For each piece of data, the firm should assign a risk level.  Assign a risk severity classification to the data transmitted (e.g., low, medium or high). There is no one-size-fits-all way to assign risk severity, but a firm may consider the severity of the impact to customers and the firm if the data being transmitted were compromised.</li>
                <li>Is it necessary for the third party organization to access the data transmitted – After cataloging your PII and firm sensitive information that is accessible to the third party, you should assess whether the third party requires the information it can access for a business purpose.
                </li>
                <li>Third party security – If the third party has access to PII or firm sensitive information, you should take steps to consider the security of the third party’s systems. In the absence of an ability to make an assessment, you should attempt to obtain a reliable assessment of the third party’s security protections such as its most recent SSAE 16 report.
                </li>
                <li>Isolate – You should consider if the third party access to information is limited to information it requires for business reasons and the third party should be prohibited from accessing other information.</li>
                <li>Remediate – You should consider the risk severity level and your resources and make a risk assessment of whether any remediation is necessary which could include denying access to the third party, conducting a security review of the third party, or isolating the third party’s access to information it needs for a business purpose.</li>            
    			</ul>
    		</td>
        </tr>
        <tr><td colspan="7">Manage Vendors and Customer Access</td></tr>
        <tr>
            <td colspan="3"><strong>Activity</strong></td>
            <td colspan="2"><strong>Yes/No</strong></td>
            <td colspan="2"><strong>Remediate</strong></td>
        </tr>
        <tr>
            <td colspan="3">Pre-contract due diligence on vendor</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Ongoing due diligence of existing vendors</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Assure vendor only has access to parts of system it needs </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Ex-vendors’/customers’ access terminated immediately?</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Customer’s access is limited to customer’s data </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr><td colspan="7">Contract Should Address</td></tr>
        <tr>
            <td colspan="3"><strong>Activity</strong></td>
            <td colspan="2"><strong>Yes/No</strong></td>
            <td colspan="2"><strong>Remediate</strong></td>
        </tr>
        <tr>
            <td colspan="3">Non-disclosure agreements/confidentiality agreements</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Data storage, retention, delivery, encryption</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Breach notification responsibilities </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Right-to-audit clauses</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Vendor employee access limitations, identity and access management, and separation of duties</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Use of subcontractors </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Vendor obligations upon contract termination</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Security processes initiated by the vendor(E.g., acquire copy of SSAE 16 Report)</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        
    </tbody>
	</table>
    <div ng-pagination></div>

  </div>
 </div>
</div>
</div>