<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
<div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>

<grid-screen resource="components/core/data.json">
<grid-section-header title="Section 2 – Identify and Assess Risks: Minimize Use"></grid-section-header>
<grid-columns>
    <grid-column title="PII or Firm Sensitive Data" field="piidata"></grid-column>
    <grid-column title="Location" field="location"></grid-column>
    <grid-column title="Risk Severity Level" field="risklevel"></grid-column>
    <grid-column title="Business Objective Can Be Met Without Data?" field="busobjnodata"></grid-column>
    <grid-column title="Business Objective can be accomplished without data being output or shared with other internal systems or people? " field="busobjnoshare"></grid-column>
    <grid-column title="Do you need to Remediate?" field="needremediate"></grid-column>
    <grid-column title="Remediation Steps" field="remediatesteps"></grid-column>
    <grid-column title="Remediation Status" field="remediatestatus"></grid-column>
  </grid-columns>
<grid with-inline-editor></grid>
<grid-section-notes template="components/section/templates/notes/section2.notes.html"></grid-section-notes>
</grid-screen>


  <!-- <table class="table table-bordered">

    <h2>Section 2 – Identify and Assess Risks: Minimize Use.</h2>
    <thead>
        <tr>
            <th>PII or Firm Sensitive Data </th>
            <th>Location</th>
            <th>Risk Severity Level</th>
            <th>Business Objective Can Be Met Without Data? (Y/N)</th>
            <th>Business Objective can be accomplished without Data being Output or Shared with Other internal Systems or People? (Y/N)</th>
            <th>Remediate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
		<td colspan="6">
		
		</td>
        </tr>
    </tbody>
	</table> -->
    <div ng-pagination></div>

  </div>
 </div>
</div>
</div>