<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
  <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>

      <grid-section-header title="Section 7 – Protect: Employee Devices"></grid-section-header>  
      <div ui-grid="section7a" class="sectiongrid gridsection7a" ng-style="getTableHeight(section7a)" ui-grid-edit ui-grid-cellNav ui-grid-resize-columns ui-grid-auto-resize></div>
      <div class="alignRight clearfix"><button ng-click="addNewItem(section7a, section7b)">Add Row</button></div> 
      <grid-section-notes template="components/section/templates/notes/section7a.notes.html"></grid-section-notes>
      <div ui-grid="section7b" class="sectiongrid gridsection7b" ng-style="getTableHeight(section7a)" ui-grid-edit ui-grid-cellNav ui-grid-resize-columns></div>
      <grid-section-notes template="components/section/templates/notes/section7b.notes.html"></grid-section-notes>
      <div ui-grid="section7c" class="sectiongrid gridsection7c" ui-grid-edit ui-grid-cellNav ui-grid-resize-columns></div>
      <div ui-grid="section7d" class="sectiongrid gridsection7d" ui-grid-edit ui-grid-cellNav ui-grid-resize-columns></div>     
      
  <div ng-pagination></div>
  </div>
 </div>
</div>
</div>