<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
  <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>
  <grid-section-header title="Section 8 – Detect: Penetration Testing "></grid-section-header> 
  <div ui-grid="section8" class="sectiongrid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns></div> 
  <grid-section-notes template="components/section/templates/notes/section8.notes.html"></grid-section-notes>
  <div ng-pagination></div>
  </div>
 </div>
</div>
</div>