<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
   <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>

  <table class="table table-bordered">   
    <h2>Section 4 – Protect: Information Assets </h2>
    <thead>
        <tr>
            <th>PII or Firm Sensitive Data</th>
            <th>Location</th>            
            <th>Risk Severity Level</th>
            <th>Password Protection</th>
            <th>Malware/Anti-virus Protection</th>
            <th>Other Protections</th>
            <th>Remediate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>        
        <tr>
    		<td colspan="7">    			
    			<ul>			
        			<li>Password protection – Are the systems where your PII or firm sensitive data password protected? </li>
        			<li>Malware/anti-virus protection –Do you install malware or anti-virus software?</li>
        			<li>Other protections –Do you use other protections like firewalls to protect information?</li>
                    <li>Remediate – You should conduct a risk assessment of the strength of the protections considered with the assigned risk severity level, together with its resources and consider whether protections should be enhanced (e.g., include stronger password requirements, installing malware or anti-virus protections or other system protections).
                    </li>                       
    			</ul>
    		</td>
        </tr>
        <tr><td colspan="7">Do you have a process in place defining and implementing a password policy, educating users and regularly updating malware and anti-virus software?  Please see <a href="http://www.nist.gov/itl/csd/password_042109.cfm">NIST</a> standards for guidance.</td></tr>
        <tr>
            <td colspan="3"><strong></strong></td>
            <td colspan="2"><strong>Yes/No</strong></td>
            <td colspan="2"><strong>Remediate</strong></td>
        </tr>
        <tr>
            <td colspan="3">Password strength policy</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Frequency of password change policy</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Multi-factor authentication  </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Training employees on password hygiene </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Anti-virus regularly updated policy  </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>        
        <tr>
            <td colspan="3">Malware regularly updated policy </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>        
    </tbody>
	</table>
    <div ng-pagination></div>

  </div>
 </div>
</div>
</div>