<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
  <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>

  <table class="table table-bordered">   
    <h2>Section 7 – Protect: Employee Devices  </h2>
    <thead>
        <tr>
            <th colspan="2">Name of Employee/IC</th>
            <th colspan="2">Device Type </th>
            <th colspan="3">Device Owner (Firm or Individual)</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td  colspan="2"><input type="text" class="textbox-underline"/></td>
            <td  colspan="2"><input type="text" class="textbox-underline"/></td>
            <td  colspan="3"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td  colspan="2"><input type="text" class="textbox-underline"/></td>
            <td  colspan="2"><input type="text" class="textbox-underline"/></td>
            <td  colspan="3"><input type="text" class="textbox-underline"/></td>
        </tr>        
        <tr>
    		<td colspan="7">
    			List employee (or independent contractor(IC)) devices that are connected to your firm’s network. 
    			<ul>			
    			<li>Name of Employee/IC – Identify each person whose device accesses the firm’s network.</li>
    			<li>Device Type - Include devices such as phones, tablets, and laptops.</li>
    			<li>Device Owner - You should consider that you will need to have the authority to access the device as part of your cybersecurity program, regardless of whether the firm or employee owns the device.</li>                         
    			</ul>
    		</td>
        </tr>
        
        <tr>
            <th>Device Type</th>
            <th>Employee </th>
            <th>Owner</th>
            <th>Access to PII and Firm Sensitive Data</th>
            <th>Risk Severity Level  </th>
            <th>Protected</th>
            <th>Remediate</th>
        </tr>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>  
         <tr>
            <td colspan="7">
                Are permissions restricted and devices protected?
                <ul>            
                <li>Access to PII and firm sensitive data – Does the device have access to PII and firm sensitive data?</li>
                <li>Risk Severity Level – Assign a risk severity level to the PII or firm sensitive information the internal person can access considering the impact to customers and the firm if the information were compromised by the internal person’s device.</li>
                <li>Protected – Are devices secured with passwords? Is data encrypted if lost? List all protections that apply.</li>
                <li>Remediate – You should take into account the access to PII and firm sensitive information and the risk severity of compromise, and conduct a risk assessment of whether to deny access to all or part of the PII or firm sensitive information, protect the information better by encrypting the data and having the ability to remove all data from a device if it is lost or stolen.</li>                         
                </ul>
            </td>
        </tr>
        <tr><td colspan="7">Are the following controls implemented? If no, conduct a risk assessment on whether to remediate.</td></tr>
        <tr>
            <td colspan="3"><strong>Controls</strong></td>
            <td colspan="2"><strong>Yes/No</strong></td>
            <td colspan="2"><strong>Remediate</strong></td>
        </tr>
        <tr>
            <td colspan="3">System or device only allows authorized persons to download software?</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Can data be deleted remotely if device is lost?</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Ex-employees’/contractors’ and ex-vendors’/customers’ access terminated immediately? </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Monitor employees’ and vendors’ systems access?</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Do you encrypt all portable media (to include laptop, hard drives, USB drives, etc.)?</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="3">Limit administrative privileges (see page 62 in the link provided) </td>
             <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr><td colspan="7">Staff Training</td></tr>
        <tr>
            <td colspan="4"><strong>Activity</strong></td>
            <td colspan="3"><strong>Yes/No</strong></td>
        </tr>
        <tr>
            <td colspan="4">Define cybersecurity training needs requirements</td>          
            <td colspan="3"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="4">Conduct training in regular intervals</td>          
            <td colspan="3"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="4">Develop interactive training</td>          
            <td colspan="3"><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td colspan="4">Training should take into account firm specific risks, systems and loss incidents history</td>          
            <td colspan="3"><input type="text" class="textbox-underline"/></td>
        </tr>     
        
    </tbody>
	</table>
    <div ng-pagination></div>

  </div>
 </div>
</div>
</div>