<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
  
 <table class="table table-bordered" id="printableArea">   
    <h2>Summary </h2>
    <h4>Section 5 – Protect: Systems Assets </h4>
    <thead>
        <tr>
            <th>Systems</th>
            <th>Risk to Firm if  System is Inoperable   </th>
            <th>Password Protection</th>
            <th>Malware/ Anti-virus/Firewalls</th>
            <th>Regularly Scheduled Backups </th>            
            <th>Remediate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{section5.field1}}</td>
            <td>{{section5.field2}}</td>
            <td>{{section5.field3}}</td>
            <td>{{section5.field4}}</td>
            <td>{{section5.field5}}</td>
            <td>{{section5.field6}}</td>
        </tr>
        <tr>
            <td>{{section5.field21}}</td>
            <td>{{section5.field22}}</td>
            <td>{{section5.field23}}</td>
            <td>{{section5.field24}}</td>
            <td>{{section5.field25}}</td>
            <td>{{section5.field26}}</td>
        </tr>
    </tbody>
    </table>
	<button class="btn btn-color" ng-click="printDiv('printableArea')">Print</button>
  </div>
 </div>
</div>
</div>