<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
 <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>
    <grid-section-header title="Section 9 – Detect: Intrusion"></grid-section-header> 
    <div ui-grid="section9a" class="sectiongrid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns></div> 
    <grid-section-notes template="components/section/templates/notes/section9.notes.html"></grid-section-notes>
    <h4>Are the following controls implemented? If No, assess the risk of not having the controls and decide whether to remediate.</h4>
    <div ui-grid="section9b" class="sectiongrid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns></div>   
    <div ng-pagination></div>
  </div>
 </div>
</div>
</div>