<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
    <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>
    <grid-section-header title="Section 5 – Protect: Systems Assets "></grid-section-header>   
    <div ui-grid="section5" class="sectiongrid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns> 
    </div>
    <button ng-click="addNewItem(section5)">Add Row</button>   
    <grid-section-notes template="components/section/templates/notes/section5.notes.html"></grid-section-notes>
    <div ng-pagination></div>
  </div>
 </div>
</div>
</div>