<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
  <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>

  <table class="table table-bordered">

    <h2>Section 2 – Identify and Assess Risks: Minimize Use.</h2>
    <thead>
        <tr>
            <th>PII or Firm Sensitive Data </th>
            <th>Location</th>
            <th>Risk Severity Level</th>
            <th>Business Objective Can Be Met Without Data? (Y/N)</th>
            <th>Business Objective can be accomplished without Data being Output or Shared with Other internal Systems or People? (Y/N)</th>
            <th>Remediate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
		<td colspan="6">
			Have you taken steps to minimize the use and proliferation of PII or firm sensitive data? 
			<ul>			
			<li>Business objective can be met without data – One way to mitigate risk is to remove the PII or firm sensitive data from your systems and networks. You should consider whether you can do your business without storing the PII or firm sensitive information in the system or network location. When removing data from your systems and networks, you should keep in mind any books and records obligations you might have with respect to this data.
			</li>
			<li>Sharing data – You should consider how the PII or firm sensitive data is shared, identify people or systems that do not require access to the data, and consider isolating the data.
			</li>
			<li>Remediate –If you determine that there is no business purpose to store or share the PII or firms sensitive information, you should remediate by either removing the data from the location or not sharing it.  If you are required to store and share the data, you should consider the risk severity of the data being compromised and consider whether a business practice could be changed to mitigate the risk (e.g., if a business process involves using a customer’s social security number, change the process to use another customer specific identifier rather than the social security number).  
			</li>
			</ul>
		</td>
        </tr>
    </tbody>
	</table>
    <div ng-pagination></div>

  </div>
 </div>
</div>
</div>