<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
 <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>

  <table class="table table-bordered">   
    <h2>Section 11 – Recovery  </h2>
    <div>In recovery, administrators restore systems to normal operation, confirm that the systems are functioning normally, and remediate vulnerabilities to prevent similar incidents. If the answer to one of the below questions is No, firms should conduct a risk assessment and decide whether to invest in the process to remediate.</div>
    <thead>
        <tr>
            <th><strong>Controls</strong></th>
            <th><strong>Yes/No</strong></th>
            <th><strong>Remediate</strong> </th>           
        </tr>
    </thead>
    <tbody>      
        <tr>
            <td>Do you have regularly scheduled backups to restore critical data or systems should they be lost in a cyber-incident? </td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td>Is it possible for you to rebuild systems from scratch should it be necessary?</td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td>Do you have a plan to replace compromised files with clean versions?</td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td>Do you have a plan to install patches, change passwords and tighten network security should a cyber-incident take place?</td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td>Have you considered that once a resource is successfully attacked, it is often attacked again, or other resources within the organization are attacked in a similar manner and that heightened system logging and network monitoring should be implemented?</td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>        
    </tbody>
	</table>
    <div ng-pagination></div>

  </div>
 </div>
</div>
</div>