<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
<div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>
<grid-section-header title="Section 2 – Identify and Assess Risks: Minimize Use"></grid-section-header>
 	<div ui-grid="section2" 
 	 	class="sectiongrid gridsection2" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns>
    </div>
<grid-section-notes template="components/section/templates/notes/section2.notes.html"></grid-section-notes>
<div ng-pagination></div>
</div>
</div>
</div>
</div>