<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">

<div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>
<grid-section-header title="Section 4 – Protect: Information Assets"></grid-section-header>
<div ui-grid="section4a" class="sectiongrid gridsection4a" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns>
</div>  
<grid-section-notes template="components/section/templates/notes/section4.notes.html"></grid-section-notes>
<div ui-grid="section4b" class="sectiongrid gridsection4b" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns></div>
<div class="alignRight clearfix"><button ng-click="addNewItem(section4b)">Add Row</button> </div>
<div ng-pagination></div>
</div>
</div>
</div>
</div>