<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
 <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>
    <grid-section-header title="Section 11 – Recovery "></grid-section-header>
    <grid-section-notes template="components/section/templates/notes/section11.notes.html"></grid-section-notes>
    <div ui-grid="section11" class="sectiongrid" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns></div>    
    <div ng-pagination></div>
  </div>
 </div>
</div>
</div>