<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
  <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>

    <grid-section-header title="Section 10 – Response Plan"></grid-section-header> 
    <div ui-grid="section10a" class="sectiongrid gridsection10a" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns></div> 
    <grid-section-notes template="components/section/templates/notes/section10.notes.html"></grid-section-notes>

    <h4>Stakeholders</h4>
    <div ui-grid="section10b" class="sectiongrid gridsection10b" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns></div> 
    <h4>Metrics</h4>
    <div ui-grid="section10c" class="sectiongrid gridsection10c" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns></div>      

    
    <div ng-pagination></div>
  </div>
 </div>
</div>
</div>