<div class="container">
<div class="row">   
<div class="col-md-12">
<div class="box boxeffect7">
  <div ng-multistepsindicator total="total" class="clearfix multistepcontainer"></div>
  <table class="table table-bordered">   
    <h2>Section 10 – Response Plan</h2>
    <div>Prepare incident responses to which you are most likely to be subject. The response should include a communication plan to notify your senior executives who need to know about the incident. Firm senior executives should decide how to contain and mitigate the breach. You should run through different types of incidents they may suffer and plan how they would respond. Types of responses to consider include: full or partial shutdown of systems, disconnect system from the network, delete and reinstall malware, or disabling a user from system access. You can add to or delete from the list as appropriate to their business. Firms should also refer to the FINRA Firm <a href="http://www.finra.org/industry/firm-checklist-compromised-accounts">Checklist</a> for Compromised Accounts.
    </div>
    <thead>
        <tr>
            <th colspan="2">Incident</th>
            <th colspan="2">Response Plan in Place </th>
            <th colspan="2">Remediate</th>           
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">Loss of customer PII or firm sensitive information</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>            
        </tr>
        <tr>
            <td colspan="2">Data corruption</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>           
        </tr>
         <tr>
            <td colspan="2">Denial of Service (DoS) attack</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="3"><input type="text" class="textbox-underline"/></td>           
        </tr>
         <tr>
            <td colspan="2">Network intrusion</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>           
        </tr>
        <tr>
            <td colspan="2">Customer account intrusion</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>           
        </tr>
        <tr>
            <td colspan="2">Malware infection </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>           
        </tr>
        <tr>
            <td colspan="2">Lost Device </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>           
        </tr>    

        <tr>
            <td colspan="2">Stolen Device </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>           
        </tr>   

        <tr>
            <td colspan="2">Third Party Vendor Compromise </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>           
        </tr>               
        <tr>
    		<td colspan="6">
    			Identifying relevant stakeholders who require notice of the breach. 
    		</td>
        </tr>
        
        <tr>
            <td><strong>Incident type</strong></td>
            <td><strong>Customers</strong></td>
            <td><strong>Regulators</strong></td>
            <td><strong>Law Enforcement</strong></td>
            <td><strong>Industry</strong></td>
            <td><strong>Third party Info. Sharing Organizations</strong></td>
        </tr>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
        <tr>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
            <td><input type="text" class="textbox-underline"/></td>
        </tr>
      
        <tr><td colspan="6">Develop Metrics</td></tr>
        <tr>
            <td colspan="4"><strong>Activity/Governance </strong></td>
            <td colspan="2"><strong>Yes/No</strong></td>            
        </tr>
        <tr>
            <td colspan="4">Maintain list of cybersecurity incidents (e.g., phishing, stolen device) </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>           
        </tr>
        <tr>
            <td colspan="4">Create dashboard to track creative patch coverage, anti-virus coverage, and number of employees who have taken training and other proactive defensive measures</td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>     
        </tr>
        <tr>
             <td colspan="4">Review customer complaints for potential cyber-related activity </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>     
        </tr>
        <tr>
           <td colspan="4">Share metrics with CEO and CCO </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>     
        </tr>
        <tr>
           <td colspan="4">Prioritize allocation of cybersecurity resources </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>     
        </tr>
        <tr>
           <td colspan="4">Communicate with senior executives on cybersecurity and outstanding risks </td>
            <td colspan="2"><input type="text" class="textbox-underline"/></td>     
        </tr>
    </tbody>
	</table>
    <div ng-pagination></div>

  </div>
 </div>
</div>
</div>