$header-bg-color            :#ffffff;
$footer-bg-color            :#51A2DA;
$detail-bg-color            :#a2d5e5;
$default-bg-color           :#51A2DA;
$default-text-color         :#ffffff;
$active-detail-bg-color     :#009cce;
$footer-text-color          :#ffffff;
$detail-text-color          :#ffffff;
$search-text-color          :#777777;
$more-link-bg-color         :#ff553a;
$app-border-color           :#dddddd;
$input-placeholder-text     :#cccccc;
$hover-color                :#265b85;
$separator-line-color       :#80c5fb;
$white                      :#ffffff;
$black                      :#000000;

$btn-color					:#B71427;
$info-color					:#FFE658;
$btn-yes					:#A2AB58;
$btn-no						:#404040;
$theme-bar					:#FDF3E7;
$highlight-text				:#ec971f;
$dark-color					:#191919;