<div class="notesaroundGrid">
<ul>
<li>Password protection – Are the systems where your PII or firm sensitive data password protected? </li>
<li>Malware/anti-virus protection –Do you install malware or anti-virus software?</li>
<li>Other protections –Do you use other protections like firewalls to protect information?</li>
<li>Remediate – You should conduct a risk assessment of the strength of the protections considered with the assigned risk severity level, together with its resources and consider whether protections should be enhanced (e.g., include stronger password requirements, installing malware or anti-virus protections or other system protections).
</li> 
</ul>
<div class="highlighted-area">Do you have a process in place defining and implementing a password policy, educating users and regularly updating malware and anti-virus software?  Please see <a href="http://www.nist.gov/itl/csd/password_042109.cfm">NIST</a> standards for guidance.
</div>
</div>