<div class="notesaroundGrid">
Are permissions restricted and devices protected?
<ul>            
<li>Access to PII and firm sensitive data – Does the device have access to PII and firm sensitive data?</li>
<li>Risk Severity Level – Assign a risk severity level to the PII or firm sensitive information the internal person can access considering the impact to customers and the firm if the information were compromised by the internal person’s device.</li>
<li>Protected – Are devices secured with passwords? Is data encrypted if lost? List all protections that apply.</li>
<li>Remediate – You should take into account the access to PII and firm sensitive information and the risk severity of compromise, and conduct a risk assessment of whether to deny access to all or part of the PII or firm sensitive information, protect the information better by encrypting the data and having the ability to remove all data from a device if it is lost or stolen.</li>                         
</ul>
<div class="highlighted-area">Are the following controls implemented? If no, conduct a risk assessment on whether to remediate.
</div>
<div>