<div class="notesaroundGrid">
Third-party Risk Management:  Do you transmit PII or firm sensitive information to a third party, or otherwise allow access to your PII or firms sensitive information by a third party?  (e.g., your vendors, clearing firm, customers, etc.)?
<ul>			
<li>Name of third party – Corporate or individual’s name.</li>
<li>PII or firm sensitive information transmitted – You can list data at a group level such as Customer Account Information, or at the granular level such as social security number, customer name, date of birth etc.</li>
<li>Risk severity level – For each piece of data, the firm should assign a risk level.  Assign a risk severity classification to the data transmitted (e.g., low, medium or high). There is no one-size-fits-all way to assign risk severity, but a firm may consider the severity of the impact to customers and the firm if the data being transmitted were compromised.</li>
<li>Is it necessary for the third party organization to access the data transmitted – After cataloging your PII and firm sensitive information that is accessible to the third party, you should assess whether the third party requires the information it can access for a business purpose.
</li>
<li>Third party security – If the third party has access to PII or firm sensitive information, you should take steps to consider the security of the third party’s systems. In the absence of an ability to make an assessment, you should attempt to obtain a reliable assessment of the third party’s security protections such as its most recent SSAE 16 report.
</li>
<li>Isolate – You should consider if the third party access to information is limited to information it requires for business reasons and the third party should be prohibited from accessing other information.</li>
<li>Remediate – You should consider the risk severity level and your resources and make a risk assessment of whether any remediation is necessary which could include denying access to the third party, conducting a security review of the third party, or isolating the third party’s access to information it needs for a business purpose.</li>            
</ul>
</div>