<div class="notesaroundGrid">
List assets that are important to your operations (e.g., trading or order management systems):
<ul>			
<li>Systems – List systems where assets reside. </li>
<li>Risk to firm if system is inoperable –Assess risk of how important a loss of the asset would be to your firm’s operations. </li>
<li>Password protection – Is access to the asset password protected? </li>
<li>Malware/anti-virus protection – Do you install malware or anti-virus software? Or have firewalls?
</li>
<li>Regularly scheduled backups– Do you have regularly scheduled backups to restore critical data or systems should they be lost in a cyber-incident?
</li>                
<li>Remediate – You should conduct a risk assessment of the strength of the protections considered with the assigned risk of the system being inaccessible, together with its resources and consider whether protections should be enhanced (e.g., include stronger password requirements, installing malware, anti-virus protections or firewalls, or regularly schedule backups). See Recovery section in this checklist for other considerations. 
</li>            
</ul>
</div>