List employee (or independent contractor(IC)) devices that are connected to your firm’s network. 
<ul>            
<li>Name of Employee/IC – Identify each person whose device accesses the firm’s network.</li>

<li>Device Type - Include devices such as phones, tablets, and laptops.</li>
<li>Device Owner - You should consider that you will need to have the authority to access the device as part of your cybersecurity program, regardless of whether the firm or employee owns the device.</li>                         
</ul>