<div class="container">
  <div class="row">    
    <div class="col-md-12">
       <div class="box boxeffect7">
       		<h3><p class="heading text-center"></p></h3>
       		<form class="form-horizontal">
       			<div class="form-wrapper">
            <div class="row">
       			<div class=""><label class="control-label col-xs-12 col-md-4">Firm Name:</label> <div class="col-xs-12 col-md-8"><input type="text" class="textbox-underline" placeholder="" ng-model="firm.firmname"/></div></div>
       			</div>
             <div class="row">
            <div class=""><label class="control-label col-xs-12 col-md-4">Person Responsible for Cybersecurity Program: </label><div class="col-xs-12 col-md-8"><input type="text" class="textbox-underline" placeholder="" ng-model="firm.rep"/></div></div>
            </div>
            <div class="row">
       			<div class=""><label class="control-label col-xs-12 col-md-4">Last Updated:</label><div class="col-xs-12 col-md-8"><input type="text" class="textbox-underline" placeholder="" ng-model="firm.lastupdated"/></div></div>
            </div>
            <div class="row">
       			<div class=""><label class="control-label col-xs-12 col-md-4">Key Personnel:</label><div class="col-xs-12 col-md-8"><input type="text" class="textbox-underline" placeholder="" ng-model="firm.keyrep"/></div></div>
       			</div>

            </div>
            <div class="row">
              <div class=""><label class="control-label col-xs-4">Last Updated:</label><p class="text-left last-updated-date col-xs-12 col-md-8">{{lastUpdated}}</p></div> 
            </div>        		      		
       		</form>
    			<form class="form-horizontal">
           		<h3> Checklist Methodology </h3>
              Firms will answer questions about their systems and electronically stored assets. Based upon their responses, they will be directed to complete sections of the checklist applicable to their business. The five core sections of the checklist follow the NIST cybersecurity-framework identify, protect, detect, respond, and recover. 
              <h4>Questions about your firm’s assets and systems:</h4>           
    	        <div ng-repeat="question in questions">
    		           <label>{{question.text}}</label>
    		 			    <div class="col-xs-12">
    		            	<div class="col-xs-4 col-md-2">
    			               <button type="button" class="btn btn-default btn-lg btn-color" ng-class="{'active': question.ActiveYes}" ng-click="addInfo($index);toggleActivateYes(question)">Yes</button>
    			        	  </div>
                      <div class="col-xs-4 col-md-2">
    			               <button type="button" class="btn btn-default btn-lg btn-color" ng-class="{'active': question.ActiveNo}" ng-click="removeInfo($index);toggleActivateNo(question)">No</button>			           
    			        	  </div>
      			        	<div class="col-xs-12 col-md-6">
        			        	<span  ng-show="showText"><span class="glyphicon glyphicon-info-sign highlight-text" aria-hidden="true"></span><span class="highlight-text">Complete section {{SectiontoComplete}}</span>
                        </span>
      			        	</div>
    		        	</div>
    	       	</div>        	
        			<div class="form-group  align-label"><div class="col-xs-12  align-label"><label class="hidden-xs col-md-4"></label><div class="col-xs-12 col-md-4"><button type="button" class="btn btn-default btn-lg btn-color col-xs-12" ng-click="isAnswered()" ng-class="{'disabled' : notAnsweredAll}">Start</button></div></div>
              <div class="col-xs-12" ng-show="answerAlltext"><span class="glyphicon glyphicon-info-sign highlight-text" aria-hidden="true"></span><span class="highlight-text">Please answer all the above questions to proceed!</span></div>
              </div>	
            </form>
       </div>
    </div>
  </div>
</div>