<form class="form-horizontal clearfix">
<table class="grid table table-bordered">
    <thead>
    <tr>
      <th ng-repeat="col in cols">{{col.title}}</th>
    </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in globalrows.rows track by $index">
        <td ng-repeat="col in cols">          
        <span ng-if="col.type === 'text'"><input type="text" class="textbox-underline" ng-model=row[col.field] /></span>
        <span ng-if="col.type === 'button'"><select name="singleSelect1" ng-model=row[col.field]><option value="Yes">Yes</option><option value="No">No</option></select></span>
        <span ng-if="col.type === 'select'"><select name="singleSelect2" ng-model=row[col.field]><option value="High">High</option><option value="Medium">Medium</option><option value="Low">Low</option></select></span>
        <span ng-if="col.type === 'dropdown'"><select name="singleSelect3" ng-model=row[col.field]><option value="Not Started">Not Started</option><option value="In Process">In Process</option><option value="Complete">Complete</option><option value="Not Needed">Not Needed</option></select></span>
        <span ng-if="col.title === 'Add'">
          <editor-initializer></editor-initializer>
        </span>     
        </td>  
      </tr>
    </tbody>
</table>
</form>