<form class="form-horizontal">
<table class="grid table table-bordered">
  <thead>
    <tr>
      <th ng-repeat="col in cols">{{col.title}}</th>
      <tbody>
        <tr ng-repeat="row in rows">
          <td ng-repeat="col in cols">
            <span ng-if="col.title !== 'Edit'"><input type="text" class="textbox-underline" ng-model=row[col.field] /></span>
            <span ng-if="col.title == 'Edit'">
              <editor-initializer></editor-initializer>
            </span>
          </td>
        </tr>
      </tbody>
    </tr>
  </thead>
</table>
</form>