.sectiongrid {
    width: 100%;
    min-height: 166px;
    height:166px;

    .ui-grid-header-cell .ui-grid-cell-contents {
	     min-height: 110px;
	     white-space: normal!important;
	     -ms-text-overflow: clip;
	     -o-text-overflow: clip;
	     text-overflow: clip;
	     overflow: visible;
	}

	 .ui-grid-cell-contents {
	 	white-space: normal !important;
	 }	

	.ui-grid-column-menu-button{
		display:none;
	}




	.ui-grid-cell{
		padding:5px;

		input, select{
			border:1px solid;
			height:40px;
		}
	}

	.ui-grid-row:last-child .ui-grid-cell{
		border-bottom-width:1px !important;
	}

	.ui-grid-cell-focus{
		background-color:transparent;
	}


	&.gridsection1,
	&.gridsection2,
	&.gridsection3a,
	&.gridsection4a,
	&.gridsection6,
	&.gridsection7a,
	&.gridsection7b,
	&.gridsection8{
		height:165px;
	}

	
	&.gridsection7c{
		min-height:670px;
		height:670px;
	}

	&.gridsection9a{
		min-height:300px;
		height:300px;
	}

	&.gridsection7d{
		min-height:330px;
		height:330px;
	}

	&.gridsection10a,
	&.gridsection10b{
		min-height:1050px;
		height:1050px;
	}

	&.gridsection3b{
		min-height:600px;
		height:600px;
	}
	
	&.gridsection3c{
		min-height:860px;
		height:860px;
	}

	&.gridsection4b{
		min-height:450px;
		height:450px;
	}	

	&.gridsection10c{
		min-height:580px;
		height:580px;
	}

	&.gridsection9b,
	&.gridsection11{
		min-height:810px;
		height:810px;
	}
}

.notesaroundGrid{
	padding: 10px 0;
}

.highlighted-area{
	padding:5px 0;
	background:$highlighted-area;
}