<div class="container">
  <div class="row"> 
  	
  	<!--Print for section 1-->
	  <div class="box printview">   
	  	<grid-form class="form-horizontal" ng-form="gridForm">
		    <grid-screen resource="components/core/data/data.section1.json">
		    <grid-section-header title="Section 1 – Identify and Assess Risks: Inventory"></grid-section-header>
		    <grid-columns>
		        <grid-column title="PII or Firm Sensitive Data" field="piidata" type="text"></grid-column>
		        <grid-column title="Location (e.g., Network Drive, System Folder, email)" field="location" type="text"></grid-column>
		        <grid-column title="Risk Severity Level" field="risklevel" type="select"></grid-column>
		      </grid-columns>
		    <grid-print section="1"></grid-print>
		    <grid-section-notes template="components/section/templates/notes/section1.notes.html"></grid-section-notes>
		    </grid-screen>
		</grid-form>
	 </div><!--End-->

	<!--Print for section 2-->
	 <div class="box printview">  
		<grid-form class="form-horizontal" ng-form="gridForm">
	    <grid-screen resource="components/core/data/data.section2.json">
	    <grid-section-header title="Section 2 – Identify and Assess Risks: Minimize Use"></grid-section-header>
	    <grid-columns>
	        <grid-column title="PII or Firm Sensitive Data" field="piidata" type="text"></grid-column>
	        <grid-column title="Location" field="location" type="text"></grid-column>
	        <grid-column title="Risk Severity Level" field="risklevel" type="select"></grid-column>
	        <grid-column title="Business Objective Can Be Met Without Data?" field="busobjnodata" type="button"></grid-column>
	        <grid-column title="Business Objective can be accomplished without data being output or shared with other internal systems or people? " field="busobjnoshare" type="button"></grid-column>
	        <grid-column title="Do you need to Remediate?" field="needremediate" type="button"></grid-column>
	        <grid-column title="Remediation Steps" field="remediatesteps" type="text"></grid-column>
	        <grid-column title="Remediation Status" field="remediatestatus" type="dropdown"></grid-column>
	      </grid-columns>
	    <grid-print section="2"></grid-print>
	    <grid-section-notes template="components/section/templates/notes/section2.notes.html"></grid-section-notes>
	    </grid-screen>
		</grid-form>
	</div><!--End-->


 </div>
</div>