<div class="container">
  <div class="row"> 
	  <div class="box printview">   
	  	<grid-form class="form-horizontal" ng-form="gridForm">
		    <grid-screen resource="components/core/data/data.section1.json">
		    <grid-section-header title="Section 1 – Identify and Assess Risks: Inventory"></grid-section-header>
		    <grid-columns>
		        <grid-column title="PII or Firm Sensitive Data" field="piidata" type="text"></grid-column>
		        <grid-column title="Location (e.g., Network Drive, System Folder, email)" field="location" type="text"></grid-column>
		        <grid-column title="Risk Severity Level" field="risklevel" type="select"></grid-column>
		      </grid-columns>
		    <grid-print section="1"></grid-print>
		    <grid-section-notes template="components/section/templates/notes/section1.notes.html"></grid-section-notes>
		    </grid-screen>
		</grid-form>
	 </div>

 </div>
</div>