
<div class="container">
  <div class="row"> 
  	<div class="pull-right">
	 <button class="btn btn-default btn-color" ng-print print-element-id="printSection"><i class="fa fa-print"></i>Print</button>
	</div>


	<div id="printSection">
	<div ng-if="section1 != undefined">		
	  	<!--Print for section 1-->  	
			<div class="box printview">   
			  	<grid-section-header title="Section 1 – Identify and Assess Risks: Inventory"></grid-section-header>
			 	<div ui-grid="section1" class="sectiongrid gridsection1"></div>
		 		<grid-section-notes template="components/section/templates/notes/section1.notes.html"></grid-section-notes>
			 </div>
		 <!--End-->
	</div>

	<div ng-if="section2 != undefined">
	<!--Print for section 2-->
		<div class="box printview">  
			<grid-section-header title="Section 2 – Identify and Assess Risks: Minimize Use"></grid-section-header>
		 	<div ui-grid="section2" class="sectiongrid gridsection2"></div>
			<grid-section-notes template="components/section/templates/notes/section2.notes.html"></grid-section-notes>
		</div>
	<!--End-->
	</div>

	<div ng-if="section3a != undefined">
	<!--Print for section 3-->
		<div class="box printview">  
			<grid-section-header title="Section 3 – Identify and Assess Risks: Third Party Access"></grid-section-header>
		 	<div ui-grid="section3a" class="sectiongrid gridsection3a"></div>  
		    <grid-section-notes template="components/section/templates/notes/section3.notes.html"></grid-section-notes>
		    <grid-section-header title="Manage Vendors and Customer Access"></grid-section-header>
		    <div ui-grid="section3b" class="sectiongrid gridsection3b"></div>
		</div>
	<!--End-->
	</div>

	<div ng-if="section4a != undefined">
	<!--Print for section 4-->
			<div class="box printview">  
				<grid-section-header title="Section 4 – Protect: Information Assets"></grid-section-header>
				<div ui-grid="section4a" class="sectiongrid gridsection4a"></div>  
				<grid-section-notes template="components/section/templates/notes/section4.notes.html"></grid-section-notes>
				<div ui-grid="section4b" class="sectiongrid gridsection4b"></div> 
			</div><!--End-->
	</div>

	<div ng-if="section5 != undefined">
	<!--Print for section 5-->
			<div class="box printview">  
				<grid-section-header title="Section 5 – Protect: Systems Assets "></grid-section-header>   
			    <div ui-grid="section5" class="sectiongrid gridsection5"> 
			    </div>  
			    <grid-section-notes template="components/section/templates/notes/section5.notes.html"></grid-section-notes>
			</div>
    <!--End-->
	</div>

	<div ng-if="section6 != undefined">
	<!--Print for section 6-->
			<div class="box printview"> 
				<grid-section-header title="Section 6 – Protect: Encryption"></grid-section-header>  
		   		<div ui-grid="section6" class="sectiongrid gridsection6"></div>
		    	<grid-section-notes template="components/section/templates/notes/section6.notes.html"></grid-section-notes>
		    </div>
    <!--End-->
	</div>

	<div ng-if="section7a != undefined">
	<!--Print for section 7-->
		<div class="box printview"> 
		     <grid-section-header title="Section 7 – Protect: Employee Devices"></grid-section-header>  
		      <div ui-grid="section7a" class="sectiongrid gridsection7a"></div>
		      <grid-section-notes template="components/section/templates/notes/section7a.notes.html"></grid-section-notes>
		      <div ui-grid="section7b" class="sectiongrid gridsection7b"></div>
		      <grid-section-notes template="components/section/templates/notes/section7b.notes.html"></grid-section-notes>
		      <div ui-grid="section7c" class="sectiongrid gridsection7c"></div>
		      <div><h4>Staff training</h4></div>
		      <div ui-grid="section7d" class="sectiongrid gridsection7d"></div>
	 	</div>
    <!--End-->
	</div>

	<div ng-if="section8 != undefined">
	<!--Print for section 8-->
		<div class="box printview"> 
		    <grid-section-header title="Section 8 – Detect: Penetration Testing "></grid-section-header> 
		 	 <div ui-grid="section8" class="sectiongrid gridsection8"></div> 
		  	<grid-section-notes template="components/section/templates/notes/section8.notes.html"></grid-section-notes>	  	
	  	</div>
    <!--End-->
    </div>

	<div ng-if="section9 != undefined">
	<!--Print for section 9-->
		<div class="box printview">
		    <grid-section-header title="Section 9 – Detect: Intrusion"></grid-section-header> 
		    <div ui-grid="section9a" class="sectiongrid gridsection9a"></div> 
		    <grid-section-notes template="components/section/templates/notes/section9.notes.html"></grid-section-notes>
		    <div class="highlighted-area">Are the following controls implemented? If No, assess the risk of not having the controls and decide whether to remediate.</div>
		    <div ui-grid="section9b" class="sectiongrid gridsection9b"></div>
	  	</div>
    <!--End-->
    </div>

	<div ng-if="section10a != undefined">
	<!--Print for section 10-->
		<div class="box printview"> 
		    <grid-section-header title="Section 10 – Response Plan"></grid-section-header> 
		    <div ui-grid="section10a" class="sectiongrid gridsection10a"></div> 
		    <grid-section-notes template="components/section/templates/notes/section10.notes.html"></grid-section-notes>
		    <h4>Stakeholders</h4>
		    <div ui-grid="section10b" class="sectiongrid gridsection10b"></div> 
		    <h4>Metrics</h4>
		    <div ui-grid="section10c" class="sectiongrid gridsection10c"></div>
	  	</div>
    <!--End-->
	</div>

	<div ng-if="section11 != undefined">
    <!--Print for section 11-->
		<div class="box printview"> 
		    <grid-section-header title="Section 11 – Recovery "></grid-section-header>
		    <grid-section-notes template="components/section/templates/notes/section11.notes.html"></grid-section-notes>
		    <div ui-grid="section11" class="sectiongrid gridsection11"></div>  
	  	</div>
    <!--End-->
	</div>
	</div>
	
 </div>
</div>