/*
 * Buttons
 * --------------------------------------------------
 * Mobile first
 */

.btn-color{
	background:#e6e6e6;
	color:$black;
}

.info-spacing{
	padding:10px;
}

.btn-default.active, .btn-default:active{
	background-color:$btn-yes;
	border:3px solid ghostwhite;	
  	color:$white;
}

.btn-default.inactive{
	background-color:$btn-no;
}

.btn:hover{

}

.btn-default:active {
  box-shadow: 0 1px 0 #00823F;
  bottom:-4px;
}

.sectiongrid:focus{
	outline:none;
}