/*
 * Buttons
 * --------------------------------------------------
 * Mobile first
 */

.btn-color{
	background:$btn-color;
	color:$white;
}

.info-spacing{
	padding:10px;
}

.btn-default.active, .btn-default:active{
	background-color:$btn-yes;
	border:3px solid ghostwhite;
}

.btn-default.inactive{
	background-color:$btn-no;
}

.btn:hover{

}

.btn-default:active {
  box-shadow: 0 1px 0 #00823F;
    bottom:-4px;
}