
/*
 * Forms
 * --------------------------------------------------
 * Mobile first
 */

.textbox-underline{
	border-top:0;
	border-left:0;
	border-right:0;
	width:90%;
	padding-top:7px;
}

.form-group input[type="text"]{
	width:60%;
}

.form-horizontal input[type="text"],
.form-horizontal select{
	width:100%;
}

/*
.form-wrapper{
	border:2px solid $info-color;
	padding:20px 0;

	.row{
		line-height: 2;
	}
}*/

.highlight-text{
	color:green;
	font-style:italic;
	padding:10px 5px;
	font-size:1.2em;
}

.info-text-color{
	border:1px solid;
	background: $info-color;
}

.align-label {
	padding-top:7px;
}

label.control-label{
	margin:10px 0;
}

.last-updated-date{
	padding-top:7px;
	font-weight: bold;
	margin: 10px 0;
}

.form-horizontal{
	 &:before,
	  &:after {
	    content: " ";
	    display: table;
	  }
	  &:after {
	    clear: both;
	  }
}

.alignRight{
	padding:10px 0;
	
	button{
		float:right;	
	}

	 &:before,
	  &:after {
	    content: " ";
	    display: table;
	  }
	  &:after {
	    clear: both;
	  }	
}

