#printSection{
    border:1px solid #000;
    
    .spacewrapper{
        padding:10px 5px;
        margin:10px 5px;
    } 

    @media print{
        border: none;
    }

    .highlighted-area{
        padding:0;
    }
}

.optionsPage{
    height: 300px;
    margin: 150px;
    text-align: center;
}

@media print {
    .alignRight{
        display:none;
    }

    h1{
        margin-top:0;
    }

    .printview{
        page-break-before: always;
        display:block;
    }

    h2, h4{
        page-break-before: always;
    }

    .sectiongrid{
        page-break-inside:avoid;        
    }

    .ui-grid-header-cell .ui-grid-sort-priority-number{
        display:none;   
    }

    .box{
        margin:5px 0;
    }
}



@media print {
    body * {
        visibility:hidden;
        float:none;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
       /*  position:absolute;
       left:0;
       top:0; */
    }

    @page {
        size: landscape;
    }
}