
#printSection{
	border:1px solid #000;

	@media print{
		border: none;
	}
}

@media print {
  .page-break{
	page-break-after: always;
  }
}



@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}