
#printSection{
	border:1px solid #000;

	@media print{
		border: none;
	}
}

.optionsPage{
    height: 300px;
    margin: 150px;
    text-align: center;

    .printBtn{
        margin: 30px;
        display: inline-block;
    }
}

@media print {
  .page-break{
	page-break-after: always;
  }
}



@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}